# from glitch
.glitchdotcom.json
.node-gyp
node_modules
.glitch-assets

# db
db/

# big assets
bot/assets/kbbi.json

# misc, personal stuff
# web/misc.js
# service/cron/
# bot/features/admin/1.js

# func
/func
